form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  width: max-content;
  gap: 0.5rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

a {
  color: #2a3f54;
}

.error {
  margin: 1rem 0 -1rem 0;
  color: #d75a5a;
}
