* {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

main {
  width: 100%;
  background-color: #f5f7fa;
  padding: 3rem;
  overflow-y: auto;
  height: calc(100vh - 6rem);
}

#sidebar {
  display: flex;
  flex-direction: column;
  background-color: #2a3f54;
  height: 100vh;
  color: #fff;
  width: 20rem;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.subtext {
  color: #a7a7a7;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: #a7a7a7;
  margin-top: 1rem;
}

h1 {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
}

a,
p,
h4 {
  margin: 0;
}

h2,
h3 {
  margin: 1rem 0;
}

header {
  display: flex;
  width: 100%;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem auto;
}

.navlinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navlinks a {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding: 0;
  border-radius: 5px;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 -0.5rem 0 -0.5rem;
  transition: background-color 0.25s;
}

.navlinks a:hover {
  background-color: #1d2b3a;
}

.navlinks a i {
  font-size: 1.15rem;
}

i {
  margin-right: 0.5rem;
}

nav {
  width: 60%;
  margin: 0 auto;
}

.fa-angle-down {
  margin: 0 0 0 auto;
}
